name: Release

on:
  push:
    tags:
      - "v*"

env:
  APP_NAME: smartedu-dl
  CLI_APP_NAME: smartedu-dl-cli

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build app
        run: |
          pyinstaller --onefile --add-data="src/icons:icons" --icon=icons/favicon2.ico --name=${{env.CLI_APP_NAME}}.exe src/app-cli.py
          pyinstaller --onefile --add-data="src/icons:icons" --icon=icons/favicon2.ico --name=${{env.APP_NAME}}.exe --windowed src/app-tk.pyw
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64-builds
          if-no-files-found: error
          retention-days: 7
          path: "dist/*.exe"

  build-macos:
    runs-on: macos-13
    # strategy:
    #   matrix:
    #     arch: ["x64", "arm64"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller Pillow

      - name: Build app
        run: |
          pyinstaller --onefile --add-data="src/icons:icons" --icon=icons/favicon2.ico --name=mac-${{env.CLI_APP_NAME}} src/app-cli.py
          pyinstaller --onefile --add-data="src/icons:icons" --icon=icons/favicon2.ico --name=mac-${{env.APP_NAME}} --windowed src/app-tk.pyw
          pushd dist
          chmod +x mac-*-cli
          for app in mac-*.app; do
              zip -r "$(basename "$app").zip" "$app"
          done
          popd

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mac-builds
          if-no-files-found: error
          retention-days: 7
          path: |
            dist/mac-*-cli
            dist/mac-*.zip

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build app
        run: |
          pyinstaller --onefile --add-data="src/icons:icons" --icon=icons/favicon2.ico --name=linux-${{env.CLI_APP_NAME}} src/app-cli.py
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64-builds
          if-no-files-found: error
          retention-days: 7
          path: "dist/linux-*"

  publish:
    needs: [build-windows, build-macos, build-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: List all files
        run: ls -rl

      - name: Generate SHA256 checksums
        run: |
          sha256sum *.exe > SHA256SUMS.txt
          sha256sum mac-* >> SHA256SUMS.txt
          sha256sum linux-* >> SHA256SUMS.txt
          cat SHA256SUMS.txt

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ steps.ref.outputs.version }}
          files: |
            *.exe
            mac-*
            linux-*
            SHA256SUMS.txt
